


# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
# *.json
# *.jsonl

# Data
!**/alpaca-data-conversation.json
# Editor
.idea
*.swp
.vscode

# Other
.DS_Store
wandb
output
llavavid

checkpoints
project_checkpoints
debug_checkpoints
playground/data
playground/cc3m_llava34b_cap
ckpts*

.ipynb_checkpoints
chunyl_scripts
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
notebooks/
logs
scripts/dist_*
logs/
submissions/
cn_scripts/
internal_project_checkpoints/
work_dirs
scripts/i18n/*
playground/.nfs028b000000010add00000001
HIP
playground/.nfs028b0000017bff2c00000012
scripts/qwen
scripts/vicuna
scripts/mistral
scripts/baseline_rep
scripts/cn_boli01_hl
scripts/cn_boli01_lf
scripts/cn_lf
scripts/cn_lq
scripts/cn_yg
scripts/cn_yg_hao
scripts/eva_encoder
scripts/i18n
scripts/i18n_higher_res
scripts/multi-images
scratchpad
build/
playground/*.json
mlx_configs/
data_processing/
# demo/
datasets
google
checkpoints*
eval_outputs
eval_outputs/
demo_outputs/
demo_outputs_new/
demo_outputs_hf/

*.hope
# data/
eval_output/
*.hope

# MY FILES AND FOLDERS TO IGNORE

comparisons_3_models/
baby_llama3_baseline/
baby_llama_baseline/
data/
logs/
temp/
tests/
results/


analyze_dataset_tokens.py
analyze_npy.py
compare_jsons_positions.py
count_shard_words.py
compare_single_embedding.py
compare_and_plot.py
create_baby_llama.py
create_baby_llama_3.py


de_emojing.py
debug_embedding_creation.py
debug_tokenization.py
deimage_shard.py
diagnoze_npy_structure.py
diagnose_token_architecture.py
download_all_images.py
generate_ln_for_llava.py
inference_debug.py
inference_linguistic_1.py
inference_linguistic_2.py
inference_linguistic_3.py
inference_linguistic_4.py
inference.py
inspect_dinov2_output.py
inspect_json_images.py
interleave_train_texts.py
preprocess_localized_narratives_json.py
print_tree.py
split_tim_dataset.py
test_allignment_hypothesis.py
test.py
validate_fixes_in_logs.py
run_debug.sh
eval_blimp_fixed.sh
eval_tim_fix.sh
inference_linguistic_4_results_tim_1.jsonl
inference_linguistic_4_results.jsonl
eval_blimp.sh
eval_babylm_challenge.sh
inference.sh
eval_commands. txt
guide.txt

babylm_italian/
